* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #A69F94;;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    display: flex;
    width: 100%;
    height: 70px;
}

h1, h2, h3, h4 {
    margin: 0;
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-top: 25px;
    z-index: 11;
}

.hide {
    background-color: transparent;
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 595px;
    margin: 0 auto;
    padding-top: 3px;
    align-items: center;
}

.nav__item {
    /*margin: 0 43px;*/
}

.logo {
    padding: 0 26px;
}

.nav__item:nth-child(2) {
    margin-left: 9px;
}

.nav__item:nth-child(4) {
    margin-right: 11px;
}

.nav__item:nth-child(5) {
    margin-right: 13px;
}

.nav__link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.your-life {
    width: 100%;
    height: 674px;
    color: rgb(208, 203, 196);
}

.your-life__background {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 744px;
    background: url("../assets/bg-image.png") no-repeat;
}

.your-life__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 120px;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 4.5px;
    padding-left: 4px;
    margin: 18px 0 21px 0;
}

.your-life__descr {
    width: 504px;
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    line-height: 140%;
    /*margin-bottom: 29px;*/
}

.btn {
    width: 184px;
    min-height: 46px;
    color: #fff;
    background-color: #00AFDB;
    border: 0;
    outline: 0;
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

}

.your-life__btn {
    margin: 30px 0 0 0;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    margin: 185px auto 0 auto;
    height: 20px;
}

.rappresent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 269px 140px 269px;
}

.rappresent-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rappresent__title {
    width: 59%;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.rappresent__descr {
    font-size: 14px;
    line-height: 20px;
    width: 62%;
    margin: 0 0 30px 0;
}

.community {
    background-color: #F5F6F7;
    padding: 77px 0 140px 0;
}

.slider-control {
    text-align: right;
    margin-right: 268px;
    margin-bottom: 14px;
    padding-top: 4px;
    font-size: 18px;
    line-height: 140%;
    color: #373737;
}

.arrow-back {
    margin-right: 5px;
}

.arrow-next {
    margin-left: 5px;
}

.slider {
    display: flex;
    justify-content: flex-end;
}

.slider__inner {
    max-width: 346px;
    margin-right: 114px;
    align-self: center;
    text-align: center;
}

.community__icon {
    margin-bottom: 16px;
}

.community__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 12px;
}

.community__descr {
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    font-weight: 400;
    width: 87%;
    text-align: center;
    margin: 0 auto;
}

.slider__items {
    display: flex;
}

.slider__img:not(.slider__img_cut) {
    margin-right: 30px;
}

.msg {
    margin: 0 auto;
    font-size: 24px;
    background-color: dimgray;
    color: white;
}