* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #4E4E4E;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    display: flex;
    width: 100%;
    height: 70px;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-top: 25px;
    z-index: 11;
}

.hide {
    background-color: transparent;
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 595px;
    margin: 0 auto;
    padding-top: 3px;
    align-items: center;
}

.logo {
    padding: 0 26px;
    transition: .3s;
}

.logo img:hover {
    color: #00AFDB;
    transform: scale(1);
}

.nav__item:nth-child(2) {
    margin-left: 9px;
}

.nav__item:nth-child(4) {
    margin-right: 11px;
}

.nav__item:nth-child(5) {
    margin-right: 13px;
}

.nav__link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: .8;
    transition: .2s;
}

.nav__link:hover {
    color: #799df1;
    opacity: 1;
    cursor: pointer;
}

.nav__link-active {
    border-bottom: 1px solid #FFFFFF;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.your-life {
    width: 100%;
    height: 674px;
    color: rgb(208, 203, 196);
}

.your-life__background {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 744px;
    background: url("../assets/bg-image.png") no-repeat;
}

.your-life__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 120px;
    color: #fff;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 4.5px;
    padding-left: 4px;
    margin: 18px 0 21px 0;
}

.your-life__descr {
    width: 504px;
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    line-height: 140%;
}

.btn {
    width: 184px;
    min-height: 46px;
    color: #fff;
    background-color: #00AFDB;
    border: 0;
    outline: 0;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition: .2s;
}

.btn:hover {
    background-color: #009CC2;
    cursor: pointer;
}

.your-life__btn {
    margin: 30px 0 0 0;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    margin: 185px auto 0 auto;
    height: 20px;
}

.social__item img {
    transition: .3s;
}

.social__item img:hover {
    transform: scale(1.2);
}

.rappresent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 269px 140px 269px;
}

.rappresent-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rappresent__title {
    width: 59%;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

.rappresent__descr {
    font-size: 14px;
    line-height: 20px;
    width: 62%;
    margin: 0 0 30px 0;
    color: #4E4E4E
}

.community {
    background-color: #F5F6F7;
    padding: 77px 0 140px 0;
}

.slider-control {
    text-align: right;
    margin-right: 268px;
    margin-bottom: 14px;
    padding-top: 4px;
    font-size: 18px;
    line-height: 140%;
    color: #373737;
}

.arrow-prev {
    margin-right: 5px;
    transition: .3s;

}

.arrow-next {
    margin-left: 5px;
    transition: .3s;
}

.arrow-prev:hover,
.arrow-next:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.slider {
    display: flex;
    justify-content: flex-end;
}

.slider__inner {
    max-width: 346px;
    margin-right: 114px;
    align-self: center;
    text-align: center;
}

.community__icon {
    margin-bottom: 16px;
}

.community__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 12px;
}

.community__descr {
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    font-weight: 400;
    width: 87%;
    text-align: center;
    margin: 0 auto;
}

.slider__items {
    display: flex;
}

.slider__img:not(.slider__img_cut) {
    margin-right: 30px;
}

.msg {
    margin: 0 auto;
    font-size: 24px;
    background-color: dimgray;
    color: white;
}

.implement {
    display: flex;
    align-items: center;
    padding: 120px 269px 140px 269px;
}

.implement-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 138px;
}

.implement-inner__btn {
    width: 182px;
}

.implement-inner__title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4E4E4E;
    width: 59%;
    margin-bottom: 21px;
}

.implement-inner__descr {
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    margin: 0 0 30px 0;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 524px;
    padding-bottom: 21px;
    background: url("../assets/sign-bg.png") no-repeat;
    background-size: cover;
}

.sign-up__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 31px;
}

.form {
    display: flex;
}

.sign-up__form {
    width: 406px;
    height: 45px;
}

.form__btn {
    width: 16%;
}

.form__input {
    font-size: 14px;
    line-height: 20px;
    color: #373737;
    width: 84%;
    border: none;
    padding: 4px 24px;
    outline: none;
}

.download {
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.download__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
}

.download__descr {
    width: 480px;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    text-align: center;
    margin: 0 0 30px 0;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 402px;
}

.download__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__download-text {
    text-align: center;
    width: 127px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.btn__download-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 46px;
    margin: auto;
    background-color: #009CC2;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 185px;
    background-color: #000;
    padding: 3px 160px 20px 161px;
}

.footer__nav {
    width: 236px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    opacity: .9;
}

.footer__logo {
    margin-right: 68px;
}

.footer__nav a {
    position: relative;
    transition: .3s;
}

.footer__nav a:not(:last-child):after {
    content: "";
    border: 1px solid #4e4e4e;
    width: 6px;
    position: absolute;
    transform: rotate(90deg);
    top: 9px;
    left: 61px;
}
